@charset "UTF-8";
/* IMPORT DES POLICES */
@font-face {
    font-family: 'OrkneyRegular';
        src: url('/OrkneyRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'OrkneyItalic';
        src: url('/OrkneyItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'OrkneyBold';
        src: url('/OrkneyBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }
  
/* CONFIGURATION VISUELLE */
body
{
	font-family:OrkneyBold;
	background-color: black;
	color: white;
}

#content {
	display: grid;
	justify-content: center;
	grid-template-columns: 33% 33% 33%;
	padding: 0px 30px;
	max-width: 500px;
	margin: auto;
}

#page {
	display: grid;
	justify-content: center;
	grid-template-columns: 100% 100% 100%;
	padding: 0px 100%;
	width: 100%;
}

.cmd {
	font-family: OrkneyRegular;
  	background-color: rgb(17,127,126);
  	border: none;
  	color: black;
  	text-align: center;
	min-height: 55px;
	border-radius: 10px;
	margin: 10px;
	padding-top: 0px;
	font-size: 10px;
	max-height: 55px;
}

.cmd li {
	display: inline-block;
	padding-left: 8px;
	padding-bottom: 2px;
}

.def {
	color: darkred;
	font-family: OrkneyRegular;
}

.def::before {
	content:"[";
}
.def::after {
	content:"]";
}

.mem {
	color: darkgreen;
	font-family: OrkneyItalic;
}

.mem::before {
	content:"(";
}
.mem::after {
	content:")";
}

.but {
	font-family: OrkneyBold;
  	font-size: 30px;
  	border: none;
  	color: black;
  	text-align: center;
  	min-width: 50px;
	min-height: 55px;
	border-radius: 10px;
	margin: 10px;
	padding: 0px;
	padding-top: 4px;
	transition: 0.2s;	
}

.button1 {
 	background-color: rgb(67,187,186);/*rgb(29,177,237);*/
}

.button1:hover {
	background-color: rgb(30,140,139);/*rgb(0,148,208);*/
}

.button1:active {
	background-color: rgb(255,145,146);/*rgb(255,155,95);*/
	color: white;
}

.button2 {
	background-color: rgb(41,253,47);
}

.button2:hover {
	background-color: rgb(11,223,17);
}

.button2:active {
	background-color: rgb(255,78,18);
}

.button3 {
 	background-color: rgb(17,127,126);
 	color: white;
}

.button4 {
	background-color: rgb(127,127,127);
}

.button4:hover {
	background-color: rgb(107,107,107);/*rgb(0,148,208);*/
}

.but4on {
	background-color: rgb(41,253,47);
}

.but4on:hover {
	background-color: rgb(21,233,27);
}

.but4notnull {
	background-color: rgb(26, 166, 30);
}

.but4notnull:hover {
	background-color: rgb(6,146,10);
}

.butfont2 {
	font-size: 20px;
}

.butfont3 {
	font-size: 40px;
}

.butfont4 {
	font-size: 15px;
}

.butfont5 {
	font-size: 15px;
}

.butfont6 {
	font-family: OrkneyRegular;
  	font-size: 10px;
  	text-align: left;
  	padding-left: 12px;
}

.b1 {
	grid-column: 1 / 1;
}

.b2 {
	grid-column: 2 / 2;
}

.b3 {
	grid-column: 3 / 3;
}

.b4 {
	grid-column: 4 / 4;
}

.bb3 {
	grid-column: span 3;
}

.bb2 {
	grid-column: span 2;
}

.slider.slider-vertical {
    height: 70%;
    width: 100px;
}

.slider {
	grid-row: span 5;
    grid-column: span 2;
    -webkit-appearance: none;
    margin: auto;
}

.slider-track {
	border-radius: 0%;
	background: rgb(67,187,186);
	left: calc(50% - 5px);
}

.slider.slider-vertical .slider-track {
	left:calc(50% - 5px);
}

.slider-handle {
    position: absolute;
    width: 35px;
    height: 60px;
    margin-top: -30px;
    left: calc(50% - 17.5px);
}

.slider-handle.round {
    border-radius: 10px;
}

.slider.slider-vertical .slider-handle {
    margin-top: -30px;
    background: rgb(255,145,146);/*rgb(41,253,47);*/
    /*-webkit-box-shadow: inset -2px -2px 2px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset -2px -2px 2px 1px rgba(0,0,0,0.75);
	box-shadow: inset -2px -2px 2px 1px rgba(0,0,0,0.75);*/
}

.slider-track-high {
	background: rgb(255,145,146);/*rgb(127,247,246);*/
	border-radius: 0px;
	opacity: 0.7;
}

.slider-selection.tick-slider-selection {
    background-image: none;
}

.slider.slider-vertical .slider-tick {
    background: rgb(67,187,186);
    opacity: 0.5;
    height: 1px;
    margin-top: 0px;
    z-index: -10;
    left: calc(50% - 25px);
}

.slider-tick-label {
	color: rgb(67,187,186);
	font-size: 12px;
	font-family: OrkneyRegular;
	margin-top: 0px;
	position: relavite;
	height: 26.3px;
}

.slider.slider-vertical .slider-tick-label-container {
	padding-top: 43px;
	margin-left: -15px;
}

.slider-tick.round {
    border-radius: 0%;
}

.slider-tick {
	width: 50px;
}

.crop {
	height: 60px;
	margin: auto;/*10px;*/
	grid-column: 1 / 1;
	text-align: center;
}

.crop img {
	height: 60px;
	margin: 0;
}

@media only screen and (max-width: 600px) {
 		.crop {
		width: 60px;
		overflow: hidden;
	}
}